[submodule "hw/1/contrib/espressif"]
	path = hw/1/contrib/espressif
	url = https://github.com/espressif/kicad-libraries.git
[submodule "fw/contrib/usb-pd"]
	path = fw/contrib/usb-pd
	url = https://github.com/Ralim/usb-pd.git
